:root {
    --hover: rgb(193, 193, 193);
    --size-header: 5rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* estilos movile */

.header {
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__conteiner-logo {
    width: clamp(15rem, 30%, 25rem);
}

.header__logo {
    width: 100%;
    object-fit: cover;
}

.header__conteiner-menu {
    width: auto;
}

.menu-icon {
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 3.5rem;
}
.menu-icon:active {
    transition: 0.3s;
    background-color: gray;
}

.header__checkbox {
    display: none;
}

.header__menu {
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #000;
    border-radius: 0.4rem;
    
    display: flex;
    flex-direction: column;
    display: none;
    
}

.header__checkbox:checked + .header__menu {
    display: flex;
}

.menu__items {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    padding: 1rem;
    text-transform: uppercase;
}

.menu__items:hover {
    background-color: #fff;
    color: #000;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__primary {
    height: 80%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primary__conteiner-image {
    min-width: 35rem;
    width: 95%;
    max-width: 60rem;
    height: 75%;
}

.primary__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primary__conteiner-text {
    width: 95%;
    max-width: 50rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary__text {
    padding: 2rem;
    font-size: clamp(3.4rem,7vw,5rem);
    min-width: 35rem;
}

.main__conteiner-links {
    align-self: center;
    width: 95%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__links {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    max-width: 20rem;
    border: 0.1rem solid #000;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.main__links:active {
    background-color: #000;
    color: #fff;
}

/* desktop */
@media screen and (min-width: 800px) {
    .main__primary {
        flex-direction: row;
    }
    
    .primary__conteiner-image {
        width: 50%;
    }
}