/* estilos movile */
.main {
    width: 100%;
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    min-width: 32rem;
    width: 50%;
    max-width: 40rem;
    min-height: 30rem;
    border: 0.1rem solid #000;
    border-radius: var(--radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form__container-labels {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form__title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.form__container-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}

.form__placeholder {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-top: -10.5px;
    transition: var(--transition);
}

.form__input {
    height: 4rem;
    padding-left: 1rem;
    outline: none;
    font-size: 1.8rem;
}
.form__input::placeholder {
    opacity: 0;
}

.form__input:focus + .form__placeholder {
    transform: translate(-0.5rem, -3rem);
}

.form__input:not(:placeholder-shown) + .form__placeholder {
    transform: translate(-0.5rem, -3rem);
}

.form__container-checkbox{
    padding-left: 1rem;
    text-align: right;
}

.form__container-checkbox a {
    text-decoration: none;
    color: inherit;
}

.form__label-checkbox {
    text-decoration: none;
    text-transform: capitalize;
}

.form__submit {
    height: 4rem;
    font-size: 1.8rem;
    border-width: 0.1rem;
    border-radius: var(--radius);
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    transition: var(--transition);
    margin: 1rem 0;
}
.form__submit:active {
    background-color: #fff;
    color: #000;
}
.form__submit:hover {
    box-shadow: 0 0 0.2rem black;
}

.form__link-pages {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    margin: 0 2rem;
    display: inline-block;
    width: min-content;
}
.form__link-pages:hover {
    text-decoration: underline;
}

.image-container {
    width: 95%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    object-fit: cover;
}




/* desktop */
@media screen and (min-width: 800px) {
    .main {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .image-container {
        width: 50%;
    }
    
}